<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Koltiva</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>
<nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
        </button> <a class="navbar-brand" href="/">Koltiva Tech</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a>
                </li>
                <li class="active nav-item"><a href="/about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>About Koltiva</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p>
                <div class="caption">As a triple-tech company, we combine Fintech, Agritech, and Climatech with 'boots on the ground' for sustainable global supply chains. Professional Services, Beyond Traceability
                </div>
                <img src="https://static.wixstatic.com/media/2bfb15_fa667ffe0e174f0ab696ce7a7a793676~mv2.png/v1/crop/x_776,y_396,w_371,h_272/fill/w_306,h_224,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/triple%20tech-6.png" alt="Triple-tech">
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                <div class="caption">Spanning across 52 countries, our comprehensive end-to-end solutions cater to diverse supply chain actors. With 6 Koltiva legal entities and 14 customer success offices, we offer seamless support and expertise. Our global presence ensures users receive localized assistance, streamlining operations and fostering global success.</div>
                <img src="https://static.wixstatic.com/media/11bfb3_112a86217148424c905e88ca8dbd05e2~mv2.png/v1/crop/x_59,y_132,w_1793,h_806/fill/w_1280,h_580,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Koltiva-Maps-2023-update-july.png" alt="Koltiva-maps">
            </p>
        </div>
    </div>
</div>

</html>